* {
    user-select: none;
    line-height: 1.5;
    font-family: Laila;
    font-size: clamp(0.9rem, 2.0vw, 1.0rem);
    scrollbar-width: none;
    transition: linear 0.25s;
}

body {
    display: grid;
    align-items: center;
    height: 95vh;
    background: url('../assets/brihat_events_watermark.svg');
    background-repeat: repeat;
    background-position: center center;
    background-size: auto 5%;
}

#date_info {
    color: darkblue;
    width: 100vw;
}

#date {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#date>span {
    font-weight: bold;
}

#past_date_ref {
    left: 45px;

}

#future_date_ref {
    right: 45px;
}


#past_date_ref, #future_date_ref {
    position: fixed;
    color: white;
}

#event_here {
    background-color: lavenderblush;
}

#all_events {
    display: inline-block;
    font-weight: bold;
    max-height: 65vh;
    overflow-y: scroll;
}

.national {
    color: rgb(var(--bs-danger-rgb));
}

.specific {
    color: rgb(var(--bs-primary-rgb));
}

.display-6 {
    font-weight: bolder;
}

#ltopic,
#ptopic,
#ntopic,
#itopic,
#otopic,
#snstopic,
#phtopic {
    font-variant: small-caps;
    /* text-decoration: underline; */
    font-weight: bold;
}

#ltopic>mark,
#ptopic>mark,
#ntopic>mark,
#itopic>mark,
#otopic>mark,
#snstopic>mark,
#phtopic>mark {
    width: 250px;
    display: inline-block;
}

#lunar_mark {
    color: white;
    background-color: purple;
}

#pakshya_mark {
    color: gray;
    background-color: purple;
}

#lunar_events {
    color: purple;
}

#pakshya_events {
    color: gray;
}

#national_event {
    color: rgb(var(--bs-success-rgb));
}

#international_event {
    color: rgb(var(--bs-info-rgb));
}

#other_event {
    color: rgb(var(--bs-dark-rgb));
}

#solar_ns_event {
    color: rgb(var(--bs-secondary-rgb));
}

#public_holiday_box {
    display: flex;
    justify-content: space-around;
}

#sunrise_sunset_info {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

#controls {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.60rem, 2.0vw, 0.75rem);
    background-color: white;
    color: gray;
    text-decoration: none;
    background: url('../assets/brihat_events_watermark.svg');
    background-repeat: repeat;
    background-position: center center;
    background-size: auto 5%;
}

#mobile_controls {
    display: none !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.60rem, 2.0vw, 0.75rem);
    background-color: white;
    color: gray;
    text-decoration: none;
    background: url('../assets/brihat_events_watermark.svg');
    background-repeat: repeat;
    background-position: center center;
    background-size: auto 5%;
}

#controls>div>a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold
}

#mobile_controls>div>a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold
}

@media screen and (min-width: 800px) {
    #date_info, #flex_lunar, #flex_pakshya, #flex_national, #flex_international, #flex_ph {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #date_info>span, #flex_lunar>div, #flex_pakshya>div, #flex_national>div, #flex_international>div, #flex_ph>div {
        flex: 1;
    }
}

@media screen and (max-width: 400px) {
    #controls {
        display: none !important;
    }

    #mobile_controls {
        display: flex !important;
    }
}