@-moz-keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  @-webkit-keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  @keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  #scroll_element {
    position: relative;
    bottom: 100px;
    left: 50%;
    margin-left: -44px;
    width: 20px;
    height: 0px;
    color: maroon;
    z-index: 1000;
    font-size: 100px;
  }

  @media screen and (max-width: 600px) {
    #scroll_element {
      font-size: 60px;
      bottom: 60px;
      margin-left: -26px;
    }
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }