@-moz-keyframes bounce {

  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {

  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {

  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce_up {

  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(+30px);
    transform: translateY(+30px);
  }

  60% {
    -moz-transform: translateY(+15px);
    transform: translateY(+15px);
  }
}

@-webkit-keyframes bounce_up {

  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(+30px);
    transform: translateY(+30px);
  }

  60% {
    -webkit-transform: translateY(+15px);
    transform: translateY(+15px);
  }
}

@keyframes bounce_up {

  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(+30px);
    -ms-transform: translateY(+30px);
    -webkit-transform: translateY(+30px);
    transform: translateY(+30px);
  }

  60% {
    -moz-transform: translateY(+15px);
    -ms-transform: translateY(+15px);
    -webkit-transform: translateY(+15px);
    transform: translateY(+15px);
  }
}

#scroll_element {
  position: relative;
  bottom: 75px;
  left: 50%;
  margin-left: -20px;
  width: 20px;
  height: 0px;
  color: maroon;
  z-index: 1000;
  font-size: 60px;
}

#scroll_up_element {
  position: relative;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  width: 20px;
  height: 0px;
  color: maroon;
  z-index: 1000;
  font-size: 60px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.bounce_up {
  -moz-animation: bounce_up 2s infinite;
  -webkit-animation: bounce_up 2s infinite;
  animation: bounce_up 2s infinite;
}

@media screen and (max-width: 600px) {
  #scroll_element {
    font-size: 45px;
    bottom: 60px;
    margin-left: -15px;
  }

  #scroll_up_element {
    font-size: 45px;
    top: -10px;
    margin-left: -15px;
  }
}