* {
    padding: 0;
    margin: 0;
    font-family: "Laila";
    font-variant: small-caps;
    user-select: none;
}

#compiled_by {
    text-align: center;
}

hr {
    color: darkcyan;
    height: 2px;
    background-color: darkcyan;
}

#option_div {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.nav_div {
    text-align: center;
    width: 100%;
}

.public {
    text-align: center;
    height: 40px;
    padding-top: 3px;
    font-size: larger;
    background-color: honeydew;
}

#year {
    height: 35px;
    width: 75px;
    text-align: center;
    font-size: larger;
    background-color: honeydew;
    border: none;
}

#year:hover {
    height: 35px;
    width: 75px;
    text-align: center;
    font-size: larger;
    background-color: honeydew;
    border-bottom: 2px solid darkcyan;
}

#main_div {
    line-height: 1.75;
    font-size: 20px;
    columns: 2;
    white-space: nowrap;
    transition: all ease-in 0.5s;
    background: url('data:image/svg+xml; utf8, <svg style="transform:rotate(-5deg)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 50" fill-opacity="0.1"><style>.svgtext {font: italic 24px serif;font-weight: lighter; fill: black;}</style><text x="0" y="30" class="svgtext">Compiled by BRIHAT</text></svg>') 0 0/200px 45px honeydew;
}

#main_div > span:hover {
    font-weight: bold;
}

.national {
    color: crimson;
}

.specific {
    color: blue;
}

.selected {
    border: 2px solid darkcyan;
    border-bottom: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bolder;
    transition: 0.2s;
    background-color: honeydew;
}

.not_selected {
    border-bottom: 2px solid darkcyan;
}

@media screen and (max-width: 600px) {
    #option_div {
        display: flex;
        justify-content: space-around;
        font-size: medium;
    }

    #main_div {
        line-height: 1.75;
        font-size: 14px;
        columns: 1;
    }
}